{% load static %}
<header>
    <div class="logo-section">
        <a href="{% url 'index' %}"><img src="{% static 'media/logo_blue.png' %}" alt="Reminders Logo"></a>
    </div>
        <div class="burger-menu-mobile"><a href="#"><i class="fas fa-bars"></i></a></div>
        <div class="burger-menu-mobile-quit"><a href="#"><i class="fas fa-times"></i></a></div>
        <nav class="nav-menu" id="mymenu">
            <div class="login-section">
                <span class="login-section-text"><a href="{% url 'login' %}">Вход</a></span>
                <span class="login-section-text"><a href="{% url 'register' %}" class="login-section-text-button">Регистрация</a></span>
            </div>

            <div class="mobile-menu-extra-text">
                <h5>Адрес</h5>
                <p>НБУ, София, България</p>
                <h5>Свържи се</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </nav>
    <div class="clear"></div>
</header>