{% extends 'landing_page/base.html' %}
{% block title %}Вход{% endblock %}
{% block description %}Твоят е-бележник за твоите задължения.{% endblock %}
{% block keywords %}бележник, задължения, онлайн, екип{% endblock %}
{% block extra_styles %}{% endblock %}
{% block extra_scripts %}{% endblock %}
{% block header %}{% include 'landing_page/header_dark.html' %}{% endblock %}
{% block content %}
<main rel="main" style="display:flex; margin: 0 0; width:100%; overflow: hidden; position:absolute; z-index: -1;">
    <section class="contact-section">
        <div class="contact-form-overlay">
            <div class="contact-form-content">
                <h1>Вход</h1>
                <div style="padding-left: 20px;padding-bottom: 10px; color: #d43f3a;"><br></div>
                <form method="post" autocomplete="on">
                    <label for="username">Име</label>
                    <div>
                        <input id="username"  type="text" name="username" placeholder="Име">
                    </div>
                    <label for="password">Парола</label>
                    <div>
                        <input id="password" type="password" name="password" placeholder="Парола">
                    </div>
                    <input type="submit" name="login" class="user-button" style="color: white" value="Вход">
                </form>
            </div>
        </div>
        <div class="background-overlay2"></div>
    </section>
</main>
<div style=""></div>
{% endblock %}