{% extends 'landing_page/base.html' %}
{% load static %}
{% block title %}Политика за поверителност{% endblock %}
{% block description %}Твоят е-бележник за твоите задължения.{% endblock %}
{% block keywords %}бележник, задължения, онлайн, екип{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/black-style.css' %}">
{% endblock %}
{% block extra_scripts %}{% endblock %}
{% block header %}{% include 'landing_page/header_dark.html' %}{% endblock %}
{% block content %}
<main rel="main" style="display:flex; margin: 0 0; width:100%; overflow: hidden; z-index: -1; background: #dcdde1; ">
    <section class="privacy-policy-section">

        <div class="container">
<!--            <h1>Защита на лични данни</h1>-->
            <article>
                <div class="privacy-policy-content">
                    <h1>Политика за поверителност</h1>
                    <p><strong><br/> Нашата политика за поверителност накратко:</strong><br/> •
                        Никога, без Ваше съгласие няма да използваме неправомерно Вашата лична информация.<br/> •
                        Никога няма да ви изпращаме нежелани съобщения по електронната поща, за които не сте се
                        абонирали,
                        с изключение на важни съобщения свързани с Вашата поръчка и съобщения, които са част от
                        услугата, която Ви се предоставя<br/> •
                        Ангажирани сме да пазим Вашата лична информация и да предприемаме мерки за обезпечаване на
                        нейната сигурност<br/> •
                        По всяко време можете да се свържете с нас във връзка с въпроси по отношение на нашата политика
                        за поверителност и Вашите лични данни на имейл help@reminders.com</p>
                    <p>&nbsp;</p>
                    <p>Ние можем периодично да изменяме или актуализираме настоящата Политика за поверителност, без
                        предизвестие. В такива случаи, актуалната версия винаги ще бъде достъпна на нашата Страница и,
                        когато е уместно, ще бъдете уведомен/а за това по електронна поща. Моля, проверявайте за промени
                        или актуализации на Политиката за поверителност. Датата на последната актуализация
                        ще бъде отбелязана в края на настоящата Политика за поверителност.<br/>
                        Настоящата политиката за поверителност е достъпна на всяка страница на уеб сайта в долния десен
                        ъгъл, както е и част от Общите условия на сайта.</p>
                    <p>При подаване на заявка за поръчка на услуга от уеб сайта или мобилното приложение, от вас се
                        изисква да попълните подробен въпросник, съдържащ лична информация,
                        която е нужна, за да може специалистът да Ви предостави заявената услуга. В случай че не ни
                        предоставите тази информация, ние не бихме могли да придвижим Вашата заявка
                        за поръчка и няма да можем да Ви предоставим услугата.</p>
                    <p>Молим да имате предвид, че практиките, описани в настоящата Политика за поверителност, са
                        приложими само за информация, събрана онлайн на нашия уеб сайти/или в нашата платформа и/или
                        мобилно приложение. Те не се прилагат по отношение на информация, която сте публикували на
                        страници, поддържани от други фирми или организации, към които нашият уаб сайт има външни връзки
                        и препратки.</p>
                    <p><strong>Случаите, в които събираме информация за Вас:</strong><br/> 1. Информация, която Вие ни
                        предоставяте:<br/> 1.1. Когато правите заявка за поръчка на услуга през уеб сайта или мобилното
                        приложение на Reminders, ние събираме лична информация за Вас, включваща имейл, име, телефонен
                        номер, възраст, пол, тегло, ръст, предпочитания за храни, цели, двигателна активност и друга
                        лична информация, която помага на нашите специалисти да Ви предоставят индивидуална услуга,
                        както и да можем да се свържем с Вас, във сръзка с Вашата поръчка.<br/> 1.2. В случай, че
                        изберете опция за доставка на режима Ви с куриер, Вие ни предоставяте информация включваща
                        телефонния Ви номер, адрес за доставка и имена, за да могат куриерите да се свържат с Вас и да
                        направят доставката.<br/> 1.3. За да направите плащане, Вие предоставяте имената си, за да
                        направим справка за извършено от вас плащане по банков път.<br/> 1.4. Когато използвате нашите
                        услуги, Вие е нужно да предоставите информация, свързана с Вашия прогрес – свалени клиграми,
                        спазване на режима и др., с цел предоставяне на поръчаната и заявена от Вас персонализирана
                        услуга.<br/> 1.5. Можем да Ви помолим да ни предоставите допълнителна лична информация, чрез
                        имейл или в телефонен разговор, с цел да предоставим персонализирана и адекватна услуга.<br/>
                        1.6. Когато попълвате въпрсник на нашия уеб сайт, Вие ни предоставяте лична информация свързана
                        с двигателната Ви активност, височина, килограми, за да можем да Ви предоставим информация за
                        Вашия Индекс на телесна маса<br/> 1.7. Когато се регистрирате за безплатния ни бюлетин, Вие
                        предоставяте своя имейл – за да получавате седмични бюлетини, промоции и информация от нас.<br/>
                        1.8. Когато се регистрирате за участие в разлини игри, промоции, уебинари и други активности,
                        ние ще поискаме да ни предоставите имейл адрес.<br/> 1.9. В отделни имейли към Вас, можем да Ви
                        питаме за предпочитани теми. Също така бихме могли да Ви молим да попълвате анкети, свързани с
                        услугата, която предлагаме.</p>
                    <p>2. Информация, която ние събираме за Вас<br/> 2.1. Когато посещавате нашия уеб сайт,мобилно
                        приложение, или/и когато влизате в личния си профил в платформата ни, във връзка с Вашето
                        посещение, ние може автоматчино да събираме информация като техническа информация, като Интернет
                        протокол или IP адрес, логин информация, тип браузър, часова зона, операционна система и др. ,
                        устройство (персонален компютър, мобилен телефон или таблет), и друга техническа информация<br/>
                        2.2. Информация за Вашето посещение, време на престой, разгледани страници, телефонен номер от,
                        който ни се обаждате и др.<br/> Тази информация се използва, за да преценим доколко е
                        привлекателен нашият сайт и да подобрим съдържанието и функционалността му. Ние не продаваме
                        тези данни на трети страни.<br/> 3. Информация, която получаваме за вас от трети страни<br/>
                        3.1. Информация, която получаваме за вас от подизпълнители и партньори, с които работим, за да
                        предоставяме своите услуги и да поддържаме уеб сайта, платформата и мобилните си
                        приложения.<br/> Това са например технически подизпълнители, които поддържат и разработват уеб
                        сайта , платформата и мобилното ни приложение, подизпълнители за приемане на плащания, рекламни
                        мрежи, търсачки, лаборатории, куриерски компании, специалисти и други.</p>
                    <p><strong>Ние събираме/ можем да събираме Вашите лични данни и информация по следните
                            начини:</strong></p>
                    <p>1. Когато посещавате нашия уеб сайт, и/или платформа и или мобилно приложение<br/> 2. Когато
                        правите запитване през формата за контакти през уеб сайта ни;<br/> 3. Когато се свържете с нас,
                        или наш служител – по имейл или телефон;<br/> 4. Когато изпратите личен въпрос към специалистите
                        ни през личния си профил в платформата ни.<br/> 5. Когато се регистрирате, за да получавате
                        електронни бюлетини от нас;( За да се абонирате за нашия безплатен електронен бюлетин, е
                        необходимо да ни предоставите единствено имейл адреса си. )<br/> 6. Когато участвате в
                        изследване, анкета или проучване;<br/> 7. Когато се регистрирате и участвате в нашите програми,
                        дейности, инициативи и събития, уебинари;<br/> 8. Когато сте заявили желание да получите
                        информация или съдействие;<br/> 9. Когато отговаряте на запитвания на Reminders в процеса на
                        обработка на Вашата заявка за поръчка на услуга през уеб сайта или във връзка с предоставяне на
                        услуга от страна на Reminders;<br/> 10. Когато участвате в уебинари и сте предроставили лична
                        информация за регистрация за участие, както и други интерактивни услуги, които изискват
                        регистрация<br/> 11. Във връзка с проверката на подадената от Вас информация при заявка на
                        поръчка;<br/> 12. Във връзка с разследване на дейности, представляващи закононарушение или
                        нарушение на правилата за използване на Страницата и платформата;<br/> 13. Когато комуникирате с
                        нас чрез лайф чата на уеб сайта или платформата ни;<br/> 14. Когато предоставяте потребителско
                        съдържание в раздел на сайта, който позволява това;<br/> 15. Когато ни изпращате личните си
                        истории, и изрично потвърдите съгласието си да бъдат споделени на уеб сайта ни.<br/> 16. Във
                        връзка с всеки един раздел на сайта или мобилното приложение, където съзнателно и доброволно
                        предоставяте лична информация и данни.</p>
                    <p>Когато ползвате уеб сайта на Reminders или профил в социална медийна платформа като Facebook,
                        Twitter, Google+, LinkedIn, Tumblr, YouTube, или Pinterest, или когато използвате Вашия профил в
                        такава социална платформа или въвеждате идентификационни данни, за да се регистрирате на уеб
                        сайта, ние имаме право да обработваме Вашите лични данни, които Вие сте направили достъпни на
                        тази страница или чрез този профил, включително Вашите данни за достъп или потребителско
                        име.</p>
                    <p><strong>За какви цели събираме Вашата лична информация и данни</strong><br/> Нашата основна цел
                        при събирането на данни и информация е да персонализираме посещенията Ви на уеб сайта, в
                        платформата и мобилното ни приложение, да изпълняваме поетите към Вас задължения, свързани с
                        предоставяне на услугата, както и да Ви уведомяваме за промени в нашата организация и
                        персонализирани услуги. В допълнение, ние обработваме Вашата лична информация и данни за
                        следните цели:<br/> 1. Да се свържем с Вас, в отговор на Ваше запитване през уеб сйата ни<br/>
                        2. За обработване на Вашите заявки за поръчка на услуги, предоставяни от платформата и мобилното
                        ни приложение<br/> 3. За да Ви изпращаме уместна информация за Вашия профил в платформата ни,
                        включваща съобщения свързани с услугата, информация за Вашия прогрес, възможност за директна
                        комуникация със специалисти, предупреждения за сигурността и др.<br/> 4. За да получим
                        допълнителна информация, която ще помогне да Ви предоставим заявената от Вас услуга.<br/> 5. За
                        регистрация за събитие или участие в уебинар;<br/> 6. Извършване на статистически, демографски и
                        маркетингови проучвания и анализи на потребителите на уеб сайта и платформата ни и техните
                        модели на поведение;<br/> 7. За Разкриване, разследване и предотвратяване на действия, които
                        могат да са в нарушение на политиките ни, или да са незаконни;<br/> 8. За да Ви информираме за
                        промени в политиките ни;<br/> 9. За да подобряваме, оптимизираме и персонализираме съдържанието
                        на уеб сайта и услугите си. Възможно е например да активираме в нашите мобилни приложения
                        функции, които са специфични за Вашата услуга.<br/> 10. Можем да използваме събраните от Вас
                        данни, за да Ви изпращаме съобщения по повод новини, нови статии, рецепти и актуализации на
                        нашите Услуги, както и да Ви информираме за всички промоции, стимули и награди, които предлагаме
                        ние и/или нашите партньори, освен ако не изберете да се откажете от такива съобщения. Можете да
                        изберете да се откажете от получаването на такива съобщения като ни изпратите по имейл искането
                        си за отмяна на това съгласие на help@reminders.com. Можем да продължим да Ви предлагаме услугите
                        на Reminders без тази допълнителна услуга.<br/> 11. Можем също така да използваме събраната за
                        Вас чрез „бисквитки“ и пикселни маркери (раздел Бисквитки“ и пикселни маркери) информация, за да
                        проследяваме и анализираме Вашето поведение при използване на нашите услуги, както и всички
                        действия, имащи отношение към промоциите, стимулите и наградите във връзка с нашите услуги.</p>
                    <p><strong><br/> Използване на Вашата лична информация</strong></p>
                    <p>1. До степен, до която е необходимо, може да разкриваме Ваша информация на трети страни, които
                        изпълняват функции от наше име с цел предоставяне на поръчаната от Вас услуга, които трети
                        страни включват различни специалисти, с които работим, куриерски фирми, лаборатории, технически
                        и комуникационни платформи.<br/> 2. Можем да споделяме информация събрана за Вас, с трети
                        страни, с които работим за обработка на плащане на услугите, които получавате<br/> 3. Освен това
                        можем да споделяме информация, събрана за Вас, с трети страни, с които работим, за рекламни
                        кампании, конкурси, специални оферти или други събития или дейности във връзка с нашите услуги,
                        освен ако не изберете да се откажете от това . Можете да изберете да се откажете от получаването
                        на такива съобщения като ни изпратите по имейл искането си за отмяна на това съгласие на
                        help@reminders.com. Можем да продължим да Ви предлагаме услугите на Reminders без тази
                        допълнителна услуга.<br/> 4. Може да разкриваме събраната за Вас информация на трети страни във
                        връзка със сливания, продажба на фирмени дялове или активи, финансиране, придобиване,
                        ликвидационна разпродажба, ликвидация на цялата търговска дейност или на част от нея.<br/> 5.
                        Може да разкриваме събраната за Вас информация, (i) ако разкриването е необходимо за спазване на
                        приложимото законодателство или разпоредби; (ii) за да привеждаме в действие приложими правила и
                        условия или политики; (iii) за да защитаваме сигурността и целостта на нашите услуги; (iv) за да
                        защитаваме своите права<br/> Във всички случаи ние винаги ще се грижим Вашата информация да бъде
                        обработвана единствено във връзка с услугите и в съответствие с настоящата политика за
                        поверителност и приложимото законодателство за защита на данните.</p>
                    <p><strong>Непълнолетни лица</strong><br/> Съветваме всички родители и настойници да обучават децата
                        си на безопасност и отговорност при предоставяне на лични данни в Интернет. Непълнолетните не
                        трябва да предават лични данни на сайта на Reminders и мобилното приложение, без разрешението на
                        своите родители или настойници. Reminders никога няма да събира лични данни, ако знае, че са на
                        непълнолетни лица, нито ще ги използва по някакъв начин или разкрива на трети страни без
                        разрешение.</p>
                    <p><strong>Прехвърляне на информация зад граница</strong></p>
                    <p>Възможно е да прехвърлим събрана за Вас информация на трети страни, действащи от наше име, като е
                        възможно те да се намират в държави извън Европейското икономическо пространство („ЕИП“) или
                        държави, които Европейската комисия счита, че имат подходящо ниво на защита на информацията.
                        Тези държави е възможно да не предлагат същото ниво на защита на събраната за Вас информация.
                        Въпреки това ние ще продължим да събираме, съхраняваме и използваме събраната за Вас информация
                        в съответствие с настоящата Политика за защита на личните данни и Общия регламент за защита на
                        данните (ОРЗД). Reminders гарантира, че третите фирми/страни споделят информация само с онези
                        организации, които осигуряват адекватно ниво на защита на данните и в съответствие с приложимото
                        законодателство за защита на данните и при наличие на договорни взаимоотношения с такива
                        страни.</p>
                    <p>Вие изрично се съгласявате с нашите информационни практики, включително със събирането,
                        използването, обработването и предоставянето на Вашата информация и данни, както е предвидено в
                        настоящата Политика за поверителност, както и с предоставянето им на Amazon Web Service за
                        съхранение на сървъри в в други държави, където имаме или използваме филиали, доставчици на
                        услуги или партньори, независимо от това от коя точка на света използвате нашия уеб сайт,
                        платформа или мобиолно приложение (включително, но не само, България). Вие се съгласявате, че
                        законите, другите нормативни актове и стандарти на държавата, в която се съхраняват и обработват
                        Вашите лични данни и информация, могат да бъдат различни от тези на държавата, в която се
                        намирате.</p>
                    <p>Ние няма да съхраняваме данните Ви за срок, по-дълъг от този, който е разумно необходим за
                        предоставяне на избраните от вас услуги или се предвижда по закон.</p>
                    <p><strong><br/> Сигурност и защита на данните</strong></p>
                    <p>Ние прилагаме различни защитни мерки, за да бъде вашата лична информация защитена. Използваме
                        различни методи за криптиране, за да защитим важна потребителска информация, пренасяна онлайн.
                        Защитаваме вашата информация и офлайн. Само служители, които трябва да извършат специфично
                        действие имат достъп до лична идентификационна информация.<br/> 1. Наш ангажимент е да се грижим
                        за сигурността на събраната за Вас информация. Ние предприемаме разумни мерки, включващи
                        административни, технически и физически процедури, за да защитаваме Вашата информация от загуба,
                        кражба, злоупотреба, неоторизиран достъп, разкриване, промяна и унищожаване. Когато попълвате
                        нашите въпросници, както и след като влезете във Вашия личен профил в платформата ни, цялата
                        комуникация в интернет се защитава посредством Secure Socket Layer (SSL) технология със
                        128-битово криптиране с висока степен на сигурност.<br/> 2. Тази висока степен на сигурност може
                        да бъде ефективна само ако Вие самите прилагате определени практики за сигурност, включително
                        никога и с никого да не споделяте данните си за вход във Вашия профил. Ако смятате, че данните
                        Ви за вход във платформата ни, са станали чуждо достояние, можете по всяко време да промените
                        своята парола през нашия сайт или през мобилното ни приложение, но трябва и незабавно да се
                        свържете с нашия екип по поддръжка на клиентите.<br/> 3. Прехвърлянето на информация посредством
                        интернет не е напълно сигурно. Следователно ние не можем да гарантираме сигурността на Вашата
                        информация, докато тя се прехвърля към нас. Всяко такова прехвърляне се извършва на Ваш собствен
                        риск. След като получим Вашата информация, ние прилагаме строги процедури и структури за
                        сигурност, за да предотвратим неоторизиран достъп до</p>
                    <p><strong>Вашата лична информация и данни.</strong></p>
                    <p>Разкриване на Вашата лична информация<br/> Reminders се ангажира с прилагането на най-високите
                        стандарти на етични и законови практики във всичките си дейности и защитата на личните данни на
                        всички посетители на уеб сайта и клиенти на услугите. Освен в случаите, предвидени по-долу, ние
                        няма да прехвърляме, било то безвъзмездно или срещу възнаграждение, както и да разрешаваме на
                        никого извън Reminders, достъп до или използване на Вашата лична информация.<br/> Вие давате
                        съгласието си Вашите лични данни да бъдат предоставяни на определени трети страни, в това число:
                        (I) партньори, доставчици и подизпълнители на Reminders за целите на изпълнение на сключен
                        договор, по който Reminders е страна (включително сървърни доставчици, които осигуряват услуги
                        по съхранение на данните); и (II) доставчици на услуги, които ни подпомагат в подобряването и
                        оптимизирането на нашия уеб сайт, платформа и мобилно приложение. Тези трети лица са договорно
                        задължени да пазят поверителността и сигурността на всяка лична информация и данни, събрани от
                        Reminders. Те нямат право да използват, продават, разпространяват или променят тази информация
                        по никакъв начин, освен за целите на изпълнение на възложените от нас услуги.<br/> Ние си
                        запазваме правото да разкрием личните Ви данни и информация в случаите и при условията,
                        предвидени в закона.</p>
                    <p><strong>Бисквитки“ и пикселни маркери</strong><br/> На нашия уеб сайт и платформа и в нашето
                        мобилно приложения ние използваме известен брой „бисквитки“ и пикселни маркери. „Бисквитките“ са
                        малки файлове с данни, които се поставят на Вашия компютър, мобилно устройство или друго
                        устройство, докато разглеждате нашия сайт или използвате някое от нашите приложения или
                        уеб-базиран софтуер. Пикселните маркери са миниатюрни изображения или друг код за
                        уеб-програмиране, който може да бъде включен в сайта и в съобщенията, които Ви изпращаме по
                        имейл.<br/> Може да използваме „бисквитки“ и пикселни маркери за следните цели: (i) за да
                        персонализираме нашите услуги лично към Вас и да ги пригодим към Вашите нужди въз основа на
                        Вашите предпочитания; (ii) за да направим работата на нашите сайтове и приложения по-ефективна;
                        (iii) за да проследяваме трафика към сайта и използването на приложенията за статистически цели
                        и за да научаваме кои страници или функции потребителите намират за полезни и кои — не; (iv) за
                        да Ви разпознаваме, когато влизате във Вашия профил и за да Ви помагаме, когато си забравите
                        паролата;</p>
                    <p>Някои „бисквитки“ може да не са свързани със Reminders. Когато на нашия сайт посетите страница с
                        вградено съдържание, например от YouTube или Facebook, на Вашия компютър може да бъдат записани
                        „бисквитки“ от тези сайтове. Ние нямаме контрол над разпространението на такива „бисквитки“ от
                        трети страни — за повече информация относно тези „бисквитки“ и техните политики за поверителност
                        трябва да посетите сайтовете на тези трети страни.</p>
                    <p>„Бисквитките“ или пикселните маркери никога не предоставят възможност за достъп до друга
                        информация за Вас на Вашия компютър, мобилно устройство или друго устройство, с изключение на
                        информацията, която Вие сте решили да споделяте с нас.<br/> Повечето браузъри автоматично
                        приемат „бисквитките“, но Вие можете да промените настройките така, че „бисквитките“ да бъдат
                        отхвърляни. Отхвърлянето на „бисквитките“, използвани от нашия сайт, нашето мобилно приложение
                        или нашия уеб-базиран софтуер, може да Ви попречи да се възползвате от пълната им функционалност
                        и е възможно те да не работят както трябва, когато ги използвате.</p>
                    <p>Освен това на интернет страниците си използваме услугите Facebook Conversion Pixel и Facebook
                        Remarketing. Посредством Facebook Conversion Pixel ние и Facebook разбираме, че някой е кликнал
                        върху нашата Facebook реклама и е бил пренасочен към нашата интернет страница. Не можем обаче да
                        видим кои други интернет страници сте заредили. Информацията, събрана с помощта на Facebook
                        Conversion Pixel, е предназначена за изготвянето на статистики за успешността и използването на
                        нашите реклами във Facebook. Въпреки това ние не събираме и не получаваме информация, която
                        позволява потребителите да бъдат персонално идентифицирани. С технологията Remarketing към
                        потребителите, които са посетили нашия уеб сайт, може да бъде насочена целева реклама на
                        интернет страниците на Facebook. Въпреки това ние не събираме данни и не следим на кои
                        потребители на Facebook действително се показват целеви реклами. И тук нямаме възможност за
                        идентифициране на отделни потребители. За повече информация относно целите и обхвата на
                        събирането и обработката на Вашите лични данни от Facebook, както и възможностите за настройки с
                        цел защита на личната Ви неприкосновеност във Facebook, Ви препоръчваме да направете справка с
                        политиката за данни на Facebook.<br/> Ние използваме Google Conversion Tracking и Google
                        Remarketing на нашите интернет страници. Google Conversion Tracking е услуга за анализ на Google
                        Inc (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; &#8220;Google&#8221;) за измерване
                        на успешността на нашите рекламни активности в Google (AdWords). Google ще прикачи Cookie на
                        компютъра Ви, когато посещавате нашата интернет страница чрез реклама от Google. Тези Cookies
                        губят валидността си след 30 дни и не се използват за лична идентификация.</p>
                    <p>Google Conversion Tracking позволява на нас и на Google да разпознаем, че някой е кликнал върху
                        рекламата ни в Google и след това е пренасочен към нашата страница. Не можем обаче да видим кои
                        други интернет страници сте заредили. Събраната чрез Google Conversion Tracking информация е
                        предназначена единствено за изготвянето на статистики за успешността и използването на нашите
                        рекламни кампании в AdWords. Въпреки това, ние не събираме и не получаваме информация, която
                        позволява потребителите да бъдат персонално идентифицирани.</p>
                    <p>Също така на нашата интернет страница използваме Google Remarketing – технологиите за ремаркетинг
                        на Google. Чрез тези технологии към потребителите, които са посетили нашата интернет страница,
                        може да бъде насочена целева реклама в други страници от партньорската мрежа на Google. Google
                        Remarketing също използва Cookies.</p>
                    <p>Ако не искате да участвате в Google Conversion Tracking или Google Remarketing, можете да
                        откажете необходимото за тази цел прикачване на Cookie чрез настройките на браузъра си за
                        деактивиране на автоматичното прикачване на Cookies. Можете също така да деактивирате Cookies за
                        рекламни услуги на Google, като настроите браузъра си да блокира Cookies от домейна &#8220;googleadservices.com&#8221;.</p>
                    <p>Ако не сте съгласни с това, че използваме „бисквитки“ и „пикселизирани маркери“, Вие трябва да ги
                        деактивирате, като ги изтриете или като промените настройките за „бисквитки“ на Вашия компютър,
                        мобилно устройство или друго устройство — или трябва да спрете да използвате услугите.
                        Информация относно изтриването и управляването на „бисквитките“ е достъпна на
                        www.aboutcookies.org.</p>
                    <p><strong>Връзки към други сайтове</strong><br/> Ако последвате връзки на нашия сайт, които водят
                        до сайтове на трети страни и които не са собственост на Reminders, моля, имайте предвид, че тези
                        сайтове имат свои собствени политики за поверителност. Ние не носим отговорност за тези политики
                        за поверителност. Вие трябва да разгледате тези политики за поверителност и да се запознаете с
                        тях, преди да споделяте каквато и да било информация за Вас на тези сайтове.</p>
                    <p><strong>Вашите права</strong><br/> 1. Вие имате право, по всяко време, да ни поискате копие от
                        Вашите лични данни, както и да поискате копие от личните данни, които сте предоставили. Ако
                        желаете да получите копие от Вашите лични данни, моля пишете ни на имейл: help@reminders.com, със заглавие &#8220;Заявка за
                        достъп”.<br/> 2. Вие, също така, имате право да оспорите коректността и пълнотата на Вашите
                        лични данни и да поискате да бъдат коригирани съответно, като подадете писмено известие до
                        help@reminders.com, със заглавие „промяна на днни”<br/> 3. Имате право да поискате достъп до
                        Вашите лични данни, които съхраняваме, и винаги може да ни наредите да не изпълняваме някоя от
                        процедурите за събиране, съхраняване или споделяне на информацията за Вас, както е описано в
                        настоящата политика за поверителност. Ако поискате повече да не обработваме Вашите данни, е
                        възможно повече да можем не можем да предоставяме услугите си.<br/> 4. Имате право да поискате
                        изтриването на Вашите данни. Не можем да продължим да предоставяме услугите на Reminders, ако
                        поискате изтриването на Вашите данни. Можете да поискате изтриването на Вашите данни по
                        електронната поща на help@reminders.com със заглавие „изтриване на днни”.<br/> 5. Имате право на
                        преносимост на данните: Имате право да поискате да предете данните си на друг администратор<br/>
                        6. Ако не сте доволни, имате право да подадете жалба до съответния орган за защита на данните.
                        Reminders ще окаже пълно съдействие на такова разследване и ще се стреми да отговори на всички
                        въпроси възможно най-пълно. Съответният орган за всяка държава може да бъде намерен на уебсайта
                        на Европейската комисия: http://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080
                    </p>
                    <p>Оттегляне на Вашето съгласие В случай че желаете да оттеглите съгласието си за по- нататъшно
                        обработване на Вашите данни, по описания в тази Политика за защита на личните данни начин, няма
                        да бъде възможно да продължите да използване нашите услуги и всички споразумения, сключени между
                        Вас и Reminders, ще бъдат прекратени.</p>
                    <p><strong>Приложимо право</strong><br/> 1. Настоящата политика за поверителност се урежда и тълкува
                        съгласно българското право.<br/> 2. Настоящата политика за поверителност (включително, ако са
                        приложими нашите Общи условия) представлява цялото споразумение между Вас и нас и отменя всички
                        предходни споразумения, правила, гаранции и/или заявления до пълната, позволена от закона
                        сила.<br/> За връзка с нас<br/> Можете да ни пишете, ако имате въпроси относно настоящата
                        политика за поверителност, ако желаете да промените предпочитанията си, ако вече не желаете да
                        получавате известия по електронна поща от Reminders, или ако смятате, че Reminders има невярна,
                        неактуална или непълна информация за Вас, моля изпратете имейл на: help@reminders.com<br/> </p>
                    <p>Ако не сте съгласни с настоящата Политика за поверителност, моля, не използвайте уеб сайта или не
                        предоставяйте лични данни и информация, която би могла да се изисква за предоставянето на
                        предлаганите услуги.</p>


                </div>
            </article>


        </div>
    </section>
</main>
{% endblock %}
